body {


        background-color: lightblue ;
}




img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo_link_strip {
    background-color:rgb(145,0,0);
    width:100vw;
    height:65px;
    margin:-3vh;
    margin-left:-8px;
}

#water_mark_shape {
    background-color:rgb(235,44,30);
    width:11vw;
    height:65px;
    margin-left:-2px;
}

#water_mark_title {
    color:white;
    font-size:26px;
    margin-top:3vh;
}

#Menu_link {
 margin-left:200px;   

}
